<section class="main">
  <h1>Listing Golf Events</h1>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Price</th>
      <th>Score</th>
      <th>Image url</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
      <% @golf_events.each do |event| %>
        <tr>
          <td><%= golf_event.name %></td>
          <td><%= golf_event.user %></td>
          <td><%= link_to 'Show', golf_event %></td>
          <td><%= link_to 'Edit', edit_golf_event_path(golf_event) %></td>
          <td><%= link_to 'Destroy', golf_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Golf Event', new_golf_event_path %>
</section>
