<section class="main">
  <h1>New Golf Event</h1>

<%= form_for(@golf_event) do |f| %>
  <% if @saga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saga.errors.count, "error") %> prohibited this saga from being saved:</h2>

      <ul>
      <% @saga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <%= link_to 'Back', user_path(session[:user_id]) %>
</section>

